body {
    margin: 0;
    background: #f1f1f1;
    font-family: Arial, sans-serif;
}

.topo {
    background: #2f6ce0;
    color: white;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.voltar {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.menu-opcoes {
    font-size: 26px;
}

#map {
    width: 100%;
    height: 360px;
    background: #ccc;
}

.lista {
    padding: 10px;
}

.item {
    background: white;
    padding: 16px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.txt h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.sub {
    margin-top: 2px;
    color: #777;
}

.preco {
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
}

.imagem {
    width: 80px;
    height: 80px;
    background: #e6e6e6;
    border-radius: 10px;
}
