body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

.topo {
    background: #1e70ff;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.voltar {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.lista {
    padding: 20px;
}

.item {
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px #00000010;
}

.txt h1 {
    margin: 0;
    font-size: 18px;
}

.sub {
    color: #555;
    font-size: 14px;
    margin: 3px 0;
}

.preco {
    font-weight: bold;
    color: #1e70ff;
}

.imagem {
    width: 55px;
    height: 55px;
    background: #d8d8d8;
    border-radius: 10px;
}
