.pagina-onde-encontrar {
    width: 100%;
    padding: 15px;
}

.topo-pagina {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.topo-pagina h2 {
    font-size: 20px;
    font-weight: 600;
}

.voltar-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.mapa-container {
    width: 100%;
    height: 260px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 0 8px #00000020;
}

.mapa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-farmacia {
    background: #fff;
    width: 100%;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    box-shadow: 0 0 8px #00000015;
}

.icone-local img {
    width: 40px;
}

.info-farmacia h3 {
    font-size: 18px;
    font-weight: bold;
}

.endereco {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 4px;
}

.mais-opcoes {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 20px;
}

.avaliacao-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 3px;
}

.nota {
    font-weight: 600;
}

.horarios {
    margin-left: auto;
    display: flex;
    gap: 6px;
}

.acoes-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.acao-btn {
    flex: 1;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 8px #00000015;
}

.acao-btn img {
    width: 28px;
}
