body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

.topo {
    background: #1e70ff;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.voltar {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000015;
}

.secao {
    margin-bottom: 25px;
}

.titulo {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.item {
    background: #eaeaea;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    margin: 0;
    font-weight: 500;
}

.favorito {
    background: #d5d5d5;
}

.seta {
    font-size: 24px;
    color: #333;
}

.fav {
    font-size: 22px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    margin: 5px 0;
    color: #333;
}

.editar {
    color: #1e70ff;
    font-size: 14px;
    text-decoration: none;
}

.switch {
    position: relative;
    width: 48px;
    height: 25px;
    display: inline-block;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    border-radius: 25px;
    transition: 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #33dd55;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.btn-editar {
    width: 100%;
    background: #00c043;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
